#app {
  position: relative;
  width: 500px;
  height: 500px;
  margin: 100px auto;
  border: 1px solid #000;
  background-image: url("./31184340.jpg");
}
.tagg {
  position: absolute;
  display: flex;
  cursor: pointer;
  z-index: 0;
}
.tagg.active {
  cursor: grab;
  z-index: 1;
  &:active {
    cursor: grabbing;
  }
  .taggDelete {
    display: block;
  }
}
.taggTitle {
  background-color: rgba(0, 0, 0, 0.603);
  color: #fff;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  user-select: none;
}
.taggDelete {
  display: none;
  position: absolute;
  right: 0;
  transform: translateX(100%);
  background-color: rgba(0, 0, 0, 0.603);
  color: #fff;
  padding: 0.5rem 0.5rem;
  border-radius: 5px;
  cursor: pointer;
}
.taggDelete-left {
  right: 100%;
  transform: translateX(0%);
}
