#app {
  position: relative;
  width: 500px;
  height: 500px;
  margin: 100px auto;
  border: 1px solid #000;
}
.teg {
  position: absolute;
  display: flex;
  cursor: pointer;
}
.tegTitle {
  background-color: rgba(0, 0, 0, 0.603);
  color: #fff;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  :active {
    cursor: grab;
  }
}
.tegDelete {
  display: none;
  position: absolute;
  right: 0;
  transform: translateX(100%);
  background-color: rgba(0, 0, 0, 0.603);
  color: #fff;
  padding: 0.5rem 0.5rem;
  border-radius: 5px;
}
.tegDelete-left {
  right: 100%;
  transform: translateX(0%);
}
.tegDelete.active {
  display: block;
}
